.side-container {
    height: 100%;
  } 
.sidenav-content {
  margin: 24px;
}
.sidenav {
  padding-right: 0;
  padding-left: 0;
  visibility: visible;
  margin-top: 65px;
  -webkit-box-shadow: 4px 5px 19px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 19px -8px rgba(0,0,0,0.75);
  box-shadow: -9px 7px 20px 0px rgba(0,0,0,0.75);
  margin-top: 30px;
}
button {
  border: none;
  outline: none;
}
.mat-drawer-content{
  margin-left: 0;
}
.sideNavList{
  list-style: none;
  margin-top: 20px;
}
ol{
  padding: 0;
  width: 160px;
  text-align: center;
}
ol li{
  margin-bottom: 30px;
}

  